@import "tailwindcss";
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

/* Custom utilities */
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* Removes the clock icon in time inputs */
    .time-input-no-icon::-webkit-calendar-picker-indicator {
        background: none;
        display: none;
    }
}
